/*@2022-05-18 패널선택유도 아이콘 표시 (s)*/
.object-anchor:after { width:42px; height:42px; content:""; background:url(../../images/objet/simulator/color-icon.png) no-repeat 0 0; background-size:cover; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); }
@media screen and (max-width: 767px){
 .object-anchor:after { width:3.8rem; height:3.8rem; }
}
/*@2022-05-18 패널선택유도 아이콘 표시 (e)*/